*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #6bd36d;
}
::selection{    
    background-color: #FEC260;
}
.main-title{
    font-family: 'Pacifico', cursive;;
    font-size: 50px;
   
}
.mainColor{
    background-image: linear-gradient(to right, #3ca55c, #418ec5);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    font-family: "Righteous", cursive;
    font-size: 25px;
    width: fit-content;
}
